# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
build/integer-compression.build/Debug/integer-compression.build/Objects-normal/x86_64/integer-compression.LinkFileList
build/integer-compression.build/Debug/integer-compression.build/build-state.dat
build/integer-compression.build/Debug/integer-compression.build/build-state~.dat
build/integer-compression.build/Debug/integer-compression.build/integer-compression-all-target-headers.hmap
build/integer-compression.build/Debug/integer-compression.build/integer-compression-generated-files.hmap
build/integer-compression.build/Debug/integer-compression.build/integer-compression-own-target-headers.hmap
build/integer-compression.build/Debug/integer-compression.build/integer-compression-project-headers.hmap
build/integer-compression.build/Debug/integer-compression.build/integer-compression.dep
build/integer-compression.build/Debug/integer-compression.build/integer-compression.hmap
build/integer-compression.build/Debug/integer-compression.build/integer-compression~.dep
build/integer-compression.build/integer-compression.pbxindex/categories.pbxbtree
build/integer-compression.build/integer-compression.pbxindex/cdecls.pbxbtree
build/integer-compression.build/integer-compression.pbxindex/decls.pbxbtree
build/integer-compression.build/integer-compression.pbxindex/files.pbxbtree
build/integer-compression.build/integer-compression.pbxindex/imports.pbxbtree
build/integer-compression.build/integer-compression.pbxindex/pbxindex.header
build/integer-compression.build/integer-compression.pbxindex/protocols.pbxbtree
build/integer-compression.build/integer-compression.pbxindex/refs.pbxbtree
build/integer-compression.build/integer-compression.pbxindex/strings.pbxstrings/control
build/integer-compression.build/integer-compression.pbxindex/strings.pbxstrings/strings
build/integer-compression.build/integer-compression.pbxindex/subclasses.pbxbtree
build/integer-compression.build/integer-compression.pbxindex/symbols0.pbxsymbols
build/Debug/integer-compression
integer-compression.1
integer-compression.xcodeproj/project.pbxproj
integer-compression.xcodeproj/rschott.pbxuser
integer-compression.xcodeproj/rschott.perspectivev3